Repository SteelCrab/gition: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, pytest-cov

tsc:
  name: TypeScript Check
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

pytest-cov:
  name: pytest coverage
  entry: bash -c 'cd backend && python3 -m pytest --cov=. --cov-fail-under=70'
  language: system
  pass_filenames: false

test: backend
  backend/Dockerfile
Due: none

test: front end
  frontend/Dockerfile
Due: none

test: gitlab ci build with frontend and backend
  .gitlab-ci.yml
  backend/database.py
Due: pytest-cov

test: ci build
  .gitlab-ci.yml
  backend/Dockerfile
  frontend/Dockerfile
Due: none

fear: change ip and remove manual build
  .gitlab-ci.yml
Due: none

test: ci backend build
  frontend/Dockerfile
Due: none

fix: registry up
  .gitlab-ci.yml
Due: none

Dockerfile 업데이트
  frontend/Dockerfile
Due: none

fix: gitlab registry
  .gitlab-ci.yml
Due: none

test: gitlab ci
  frontend/Dockerfile
Due: none

ci: switch from dind to socket binding for Docker builds
  .gitlab-ci.yml
Due: none

test: ci build frontend
  frontend/Dockerfile
Due: none

ci: upgrade Docker image to v27 for API compatibility
  .gitlab-ci.yml
Due: none

ci: disable file change filters for testing
  .gitlab-ci.yml
Due: none

feat(backend): implement separate read and write database pools
  backend/database.py
Due: pytest-cov

fix(backend): ensure read-after-write consistency for user operations
  backend/user_ops.py
Due: pytest-cov

feat(mysql): add MySQL Master Docker setup
  backend/mysql-master/.env.example
  backend/mysql-master/README.md
  backend/mysql-master/config/my.cnf
  backend/mysql-master/docker-compose.yml
  backend/mysql-master/initdb.d/init.sql
Due: none

ci: update GitLab Runner tag for Windows host migration
  .gitlab-ci.yml
Due: none

ci: tage change
  .gitlab-ci.yml
Due: none

fix: use FRONTEND_URL for OAuth redirect URI
  backend/main.py
Due: pytest-cov

fix: await ensure_branch_page directly (not via to_thread)
  backend/main.py
Due: pytest-cov

fix: branch page creation on checkout
  backend/main.py
Due: pytest-cov

refactor: separate business logic and API calls
  frontend/hooks/useRepoContent.ts
  frontend/pages/RepoPage.tsx
  frontend/services/repoService.ts
Due: tsc

owner가 변경될 때만 localStorage에서 값을 다시 읽어오게 변경
  frontend/hooks/useRepoContent.ts
Due: tsc

useEffect deplendency 수정
  frontend/hooks/useRepoContent.ts
Due: tsc

에러 처리 개선
  frontend/services/repoService.ts
Due: tsc

fix: dockerfile in env and initsql
  docker-compose.yml
  mysql/init.sql
Due: none

docs: update README with correct env vars and callback URL
  README.md
Due: none

fix: db pool
  backend/requirements.txt
Due: none

docs: add readme gition gif
  README.md
Due: none

docs: add issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: implement header rendering (Markdown to Block) #118
  frontend/components/BranchPage.tsx
  frontend/components/HeadingBlock.tsx
  frontend/components/index.ts
  frontend/utils/blockParser.ts
Due: tsc

docs: add guides
  .md_kr/README_kr.md
  .md_kr/build_run_guide.md
  .md_kr/env_guide.md
Due: none

docs: add md_kr guides
  .md_kr/README_kr.md
  .md_kr/build_run_guide.md
  .md_kr/env_guide.md
Due: none

refactor: extract helper functions for better code readability
  frontend/components/BranchPage.tsx
  frontend/utils/blockParser.ts
Due: tsc

📝feat: add branch icons
  backend/page_ops.py
Due: pytest-cov

fix(deps): restore eslint-compatible @eslint/js and ignore major bumps
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

ci: remove GitLab mirror workflow from GitHub Actions
  .github/workflows/gitlab-mirror.yaml
  .github/workflows/pipelines.yaml
  .gitignore
  .md_kr/ROADMAP_kr.md
  ROADMAP.md
Due: none

chore: keep CI cleanup commit scoped to workflow files
  .gitignore
  .md_kr/ROADMAP_kr.md
  ROADMAP.md
Due: none

Path conditions:
  tsc: any of: \.(ts|tsx)$
  pytest-cov: any of: ^backend/ and \.py$
